@import url(./style.css);
@import url(./header/header.css);
@import url(./footer/footer.css);
@import url(./sidemenu/sidemenu.css);

:root {
  --width: 15em;
  --width-collapsed: 3em;
  --border: 1px solid var(--light-blue);
}

/*********************************/
/* Side menu expanded */
/*********************************/

.dashboard__container {
  width: 100%;
  height: 100%;
  position: relative;
  padding-left: var(--width);
  transition: 0.3s ease-in-out all;
}

/*********************************/
/* Side menu collapsed */
/*********************************/

.dashboard__container-collapsed {
  padding-left: var(--width-collapsed);
}

.sidemenu-collapsed {
  width: var(--width-collapsed);
}

.pages__container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
