@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap');

:root {
  --light-blue: #038ae6;
  --blue: #2058b5;
  --red: #6c0000;
  font-family: 'Open Sans', sans-serif;
}
