@import url(https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap);

:root {
  --turquoise: #038ae6;
  --blue: #2058b5;
  --dark-blue: #000261;
  --light-blue: #a3c4d6;
  --red: #bb2929;
  --wine: #6c0000;
  --white: #ebf9ff;
  --green: #1ed12d;
  --header-height: 4em;
  --footer-height: calc(var(--header-height) / 2);
  --z-index-0: 0;
  --z-index-1: 1;
  --z-index-10: 10;
  --canva: calc(100vh - var(--header-height) - var(--footer-height));
  font-family: 'Open Sans', sans-serif;
  background-color: var(--light-blue);
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

a {
  color: var(--turquoise);
  text-decoration: none;
}

.main {
  position: relative;
  min-height: 100vh;
  padding: var(--header-height) 0 calc(var(--header-height) / 2);
  height: var(--canva);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

@media screen and (max-width: 1300px) {
  .main {
    display: block;
  }
}

@media screen and (max-width: 685px) {
  .main {
    padding-bottom: calc(var(--header-height) * 2 / 2);
  }
}
@media screen and (max-width: 340px) {
  .main {
    padding-bottom: calc(var(--header-height) * 3 / 2);
  }
}
