.form__message {
  text-align: center;
  height: 2.5em;
  line-height: 2.5em;
  background: var(--red);
  color: var(--white);
  padding: 0 0.95em;
  border-radius: 0.25em;
  display: none;
}

.form__message-active {
  display: block;
  margin-top: -1em;
  margin-bottom: 1em;
}

.form__message p {
  margin: 0;
}
