.form__group-input {
  position: relative;
}

.form__input {
  min-width: 15em;
  width: 100%;
  background: var(--white);
  border: 0.25em solid transparent;
  border-radius: 0.25em;
  height: 2.5em;
  padding: 0 2em 0 0.7em;
  transition: 0.3s ease all;
}

.form__input:focus {
  border: 0.25em solid var(--turquoise);
  outline: none;
  box-shadow: 0.25em 0 0.25em #a3a3a366;
}

.form__input:read-only:focus {
  border-color: transparent;
  box-shadow: none;
}

.form__input-error {
  font-size: 0.9em;
  margin-bottom: 0;
  display: none;
}

.form__check-state {
  position: absolute;
  right: 0.8em;
  bottom: calc((2.4em - 1.1em) / 2);
  font-size: 1.1em;
  opacity: 0;
}
